<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork899-2023-01-01">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# Peer Review Assignment - Data Engineer - Extract API Data

Estimated time needed: **20** minutes

## Objectives

In this part you will:

-   Collect exchange rate data using an API
-   Store the data as a CSV

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [2]:
#!mamba install pandas==1.3.3 -y
#!mamba install requests==2.26.0 -y

## Imports

Import any additional libraries you may need here.

In [3]:
import requests
import pandas as pd

## Extract Data Using an API

Using ExchangeRate-API we will extract currency exchange rate data. Use the below steps to get the access key and to get the data. 
1. Open the url : https://exchangeratesapi.io/ and click on **Get Free API Key**. 
2. Subscribe for Free plan and Sign-in with the Google Account. 
3. Once the account is created you will be redirected to https://apilayer.com website.
2. Now, click on the **user icon** and click **Account** as shown below:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/Images/account.png">

3. Scroll down and you will get the API Key section. Copy the API key and use in the url in Question 1.

### Call the API

 <b> Question 1</b> Using the `requests` library call the endpoint given above and save the text, remember the first few characters of the output:

In [52]:
# Write your code here
url = "http://api.exchangeratesapi.io/v1/latest?base=EUR&access_key=3ae8a41ae8b314fe2c76abee00969ef2"

In [53]:
data=requests.get(url)
data.json()

{'success': True,
 'timestamp': 1692354903,
 'base': 'EUR',
 'date': '2023-08-18',
 'rates': {'AED': 3.993227,
  'AFN': 92.409405,
  'ALL': 105.775523,
  'AMD': 419.808472,
  'ANG': 1.959064,
  'AOA': 900.171486,
  'ARS': 380.494012,
  'AUD': 1.698839,
  'AWG': 1.959612,
  'AZN': 1.850139,
  'BAM': 1.953318,
  'BBD': 2.194711,
  'BDT': 118.968802,
  'BGN': 1.957921,
  'BHD': 0.409837,
  'BIF': 3079.933683,
  'BMD': 1.087163,
  'BND': 1.476937,
  'BOB': 7.511661,
  'BRL': 5.410699,
  'BSD': 1.086949,
  'BTC': 4.1051335e-05,
  'BTN': 90.359255,
  'BWP': 14.789612,
  'BYN': 2.743613,
  'BYR': 21308.401055,
  'BZD': 2.191076,
  'CAD': 1.472182,
  'CDF': 2683.653459,
  'CHF': 0.956644,
  'CLF': 0.034081,
  'CLP': 940.385396,
  'CNY': 7.926836,
  'COP': 4454.923491,
  'CRC': 580.977665,
  'CUC': 1.087163,
  'CUP': 28.809828,
  'CVE': 110.650851,
  'CZK': 24.046973,
  'DJF': 193.210778,
  'DKK': 7.451602,
  'DOP': 61.565841,
  'DZD': 147.815368,
  'EGP': 33.590639,
  'ERN': 16.30745,
  'ETB': 59.728526,
  'EUR': 1,
  'FJD': 2.470364,
  'FKP': 0.852715,
  'GBP': 0.853679,
  'GEL': 2.84813,
  'GGP': 0.852715,
  'GHS': 12.26867,
  'GIP': 0.852715,
  'GMD': 65.827464,
  'GNF': 9409.398341,
  'GTQ': 8.53339,
  'GYD': 227.41725,
  'HKD': 8.51281,
  'HNL': 26.755169,
  'HRK': 7.482728,
  'HTG': 147.288906,
  'HUF': 383.964653,
  'IDR': 16660.832224,
  'ILS': 4.125105,
  'IMP': 0.852715,
  'INR': 90.334085,
  'IQD': 1423.096785,
  'IRR': 45959.829515,
  'ISK': 143.701161,
  'JEP': 0.852715,
  'JMD': 168.140949,
  'JOD': 0.769498,
  'JPY': 158.18005,
  'KES': 156.931795,
  'KGS': 95.964174,
  'KHR': 4495.420004,
  'KMF': 491.938607,
  'KPW': 978.411735,
  'KRW': 1457.027185,
  'KWD': 0.334705,
  'KYD': 0.905874,
  'KZT': 502.46528,
  'LAK': 20938.765397,
  'LBP': 16346.967456,
  'LKR': 351.107006,
  'LRD': 202.484034,
  'LSL': 20.787014,
  'LTL': 3.21011,
  'LVL': 0.657614,
  'LYD': 5.245543,
  'MAD': 10.79225,
  'MDL': 19.240079,
  'MGA': 4854.184448,
  'MKD': 61.531799,
  'MMK': 2282.661944,
  'MNT': 3775.398278,
  'MOP': 8.765402,
  'MRO': 388.117118,
  'MUR': 49.355332,
  'MVR': 16.715157,
  'MWK': 1172.511708,
  'MXN': 18.570709,
  'MYR': 5.052592,
  'MZN': 68.763334,
  'NAD': 20.775581,
  'NGN': 834.908787,
  'NIO': 39.747039,
  'NOK': 11.538031,
  'NPR': 144.575248,
  'NZD': 1.833898,
  'OMR': 0.418554,
  'PAB': 1.086949,
  'PEN': 4.055663,
  'PGK': 3.826676,
  'PHP': 61.235572,
  'PKR': 320.713727,
  'PLN': 4.481742,
  'PYG': 7900.177631,
  'QAR': 3.958633,
  'RON': 4.945722,
  'RSD': 117.198741,
  'RUB': 102.00962,
  'RWF': 1289.919278,
  'SAR': 4.077292,
  'SBD': 9.099035,
  'SCR': 14.732332,
  'SDG': 653.305306,
  'SEK': 11.92036,
  'SGD': 1.47552,
  'SHP': 1.322806,
  'SLE': 24.369516,
  'SLL': 21471.475974,
  'SOS': 618.057811,
  'SSP': 653.385215,
  'SRD': 41.532901,
  'STD': 22502.085732,
  'SYP': 14241.413743,
  'SZL': 20.775445,
  'THB': 38.439376,
  'TJS': 11.940654,
  'TMT': 3.805072,
  'TND': 3.355529,
  'TOP': 2.598867,
  'TRY': 29.472777,
  'TTD': 7.370836,
  'TWD': 34.72237,
  'TZS': 2723.344518,
  'UAH': 40.144488,
  'UGX': 4057.842869,
  'USD': 1.087163,
  'UYU': 41.327477,
  'UZS': 13127.497452,
  'VEF': 3427056.792846,
  'VES': 34.324152,
  'VND': 25896.230261,
  'VUV': 132.107353,
  'WST': 3.026553,
  'XAF': 655.142455,
  'XAG': 0.047606,
  'XAU': 0.000574,
  'XCD': 2.938113,
  'XDR': 0.814964,
  'XOF': 653.384955,
  'XPF': 119.832587,
  'YER': 272.171805,
  'ZAR': 20.749436,
  'ZMK': 9785.775317,
  'ZMW': 21.114748,
  'ZWL': 350.066145}}

### Save as DataFrame

 <b> Question 2</b>  Using the data gathered turn it into a `pandas` dataframe. The dataframe should have the Currency as the index and `Rate` as their columns. Make sure to drop unnecessary columns.

In [54]:
# Turn the data into a dataframe
dataframe=pd.DataFrame(data.json())
dataframe

     success   timestamp base        date        rates
AED     True  1692354903  EUR  2023-08-18     3.993227
AFN     True  1692354903  EUR  2023-08-18    92.409405
ALL     True  1692354903  EUR  2023-08-18   105.775523
AMD     True  1692354903  EUR  2023-08-18   419.808472
ANG     True  1692354903  EUR  2023-08-18     1.959064
..       ...         ...  ...         ...          ...
YER     True  1692354903  EUR  2023-08-18   272.171805
ZAR     True  1692354903  EUR  2023-08-18    20.749436
ZMK     True  1692354903  EUR  2023-08-18  9785.775317
ZMW     True  1692354903  EUR  2023-08-18    21.114748
ZWL     True  1692354903  EUR  2023-08-18   350.066145

[170 rows x 5 columns]

In [55]:
# Drop unnescessary columns
dataframe.drop(columns=["success","timestamp","base","date"],inplace=True)
dataframe

           rates
AED     3.993227
AFN    92.409405
ALL   105.775523
AMD   419.808472
ANG     1.959064
..           ...
YER   272.171805
ZAR    20.749436
ZMK  9785.775317
ZMW    21.114748
ZWL   350.066145

[170 rows x 1 columns]

In [ ]:
dataframe.head

### Load the Data

Using the dataframe save it as a CSV names `exchange_rates_1.csv`.

In [35]:
dataframe.to_csv("exchange_rates_1.csv")

Your CSV should be in this format with more currencies

| | Rates |
| ------- | ------- |
|  AED| 4.398618    |
|  AFN| 92.917693   |  
|  ALL| 123.099093  |
|  AMD| 621.935674  |
|  ANG| 2.149648    |

In [49]:
dataframe = pd.read_csv("exchange_rates_1.csv")
dataframe.to_json()
dataframe

    Unnamed: 0        rates
0          AED     3.991269
1          AFN    92.364587
2          ALL   105.725026
3          AMD   419.607390
4          ANG     1.958128
..         ...          ...
165        YER   272.041426
166        ZAR    20.816015
167        ZMK  9781.097801
168        ZMW    21.104652
169        ZWL   349.898770

[170 rows x 2 columns]

## Authors

In [ ]:
def transform(hdata):
    data['rate'] = round(data.rate,2)

Ramesh Sannareddy, Joseph Santarcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2022-05-06        | 0.3     | Malika            | Updated instructions to get the API and the url|
| 2021-04-15        | 0.2     | Malika            | Updated the lab from USD to EUR    |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork899-2023-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).